.arrow-down{/*向下三角形*/
    width: 0;
    height: 0;
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    border-top: 0.3rem solid #0254ba;
}
.main-title {
    width: 80%;
    margin: 20px auto;
    margin-bottom: 10px;
    font-size: 0.35rem;
    text-align: center;
    letter-spacing: 1.4px;
    background: url("../img/bg-title.png") no-repeat;
    background-size: 100%;
  }
  .main-title .en-main-title {
    font-size: 0.15rem;
    font-family: gautami;
  }
  @font-face {
    font-family: gautami;
    font-style: normal;
    src: url('../file/gautami.ttf');
  }
  .panel-box{
      padding:20px;
      padding-top:0;
      font-size: 0.27rem;
  }
  .panel-box .panel-box-img{
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  /*web*/
  .panel-two-title{
    display: -webkit-flex;
    display: flex;
    width: 45%;
    padding-left:0.22rem;
  }
  .panel-two-title .panel-two-title-left{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    font-size: 0.3rem;
    background-color: #0254ba;
    color: white;
    border-radius: 50%;
    padding-left: 0.22rem;
    padding-right: 0.22rem;
  }
  .panel-two-title .panel-two-title-right{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:5px;
    font-size: 0.3rem;
    color: black;
  }
  .panel-body-text{
    padding:0.22rem;
    font-size: 0.28rem;
  }
   /*web*/

   .top-animation{
      animation: toTop 1.5s;
      animation-fill-mode:forwards;
   }
   .top-animation-delay1{
    animation: toTop 1.5s;
    animation-fill-mode:forwards;
    animation-delay:0.5s;
   }
   .top-animation-delay2{
    animation: toTop 1.5s;
    animation-fill-mode:forwards;
    animation-delay:1s;
   }
   .right-animation{
    animation: toRight 1.5s;
    animation-fill-mode:forwards;
   }
   .right-animation-delay1{
    animation: toRight 1.5s;
    animation-fill-mode:forwards;
    animation-delay:0.5s;
   }
   .right-animation-delay2{
    animation: toRight 1.5s;
    animation-fill-mode:forwards;
    animation-delay:1.5s;
   }
   .right-animation-delay3{
    animation: toRight 1.5s;
    animation-fill-mode:forwards;
    animation-delay:2s;
   }
   .right-animation-delay4{
    animation: toRight 1.5s;
    animation-fill-mode:forwards;
    animation-delay:2.5s;
   }
   .left-animation-delay1{
    animation: toLeft 1.5s;
    animation-fill-mode:forwards;
    animation-delay:1s;
   }
   .left-animation-delay2{
    animation: toLeft 1.5s;
    animation-fill-mode:forwards;
    animation-delay:2s;
   }
   @keyframes toTop{
     0%{
       opacity: 0;
     }
     100%{
       opacity: 1;
       transform: translateY(-30px);
     }
   }
   @keyframes toRight{
     0%{
       opacity: 0;
     }
     100%{
       opacity: 1;
       transform: translateX(30px);
     }
   }
   @keyframes toLeft{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
      transform: translateX(-30px);
    }
  }
   .main-title-other{
     position: relative;
     top:30px;
     opacity: 0;
   }

   .main-title-left{
    position: relative;
    left: -30px;
    opacity: 0;
   }
   .main-title-right{
    position: relative;
    left: 30px;
    opacity: 0;
   }